<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>Mon super site de gossip !</h1><br />
	<form action="/gossips/new" method="post">
		First name:<br />
		<input type="text" name="author" placeholder="Ton pseudo">
		<br />
		Last name:<br />
		<textarea type="text" name="content" value="Mouse" style="width: 500px; height: 300px;">Ton potin ici</textarea>
		<br /><br />
		<input type="submit" value="Balance ton potin">
	</form> 

	<p>
		<a href="/">Pour revenir à l'accueil c'est ici</a>
	</p>

</body>
</html>