<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>Ici tu peux voir le gossip que tu viens d'ajouter !</h1><br />
	<p>Bravo, tu viens d'ajouter un gossip (on ne diras pas que c'est toi hein ;)</p><br />
	<p>Auteur : <%=author%></p><br />
	<p>Contenu : <%=content%></p><br />

	<p class="footer_link">Tu peux <a href='/gossips/new/' >créer de nouveaux potins</a><br />
		<a href="/">Pour revenir à l'accueil c'est ici</a>
	</p>

</body>
</html>