<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1><%=update_done%></h1><br />


	<p class="footer_link">Tu peux <a href='/gossips/new/'>créer de nouveaux potins</a><br />
		<a href="/">Pour revenir à l'accueil c'est ici</a>
	</p>


</body>
</html>