body, html{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
}
#globale_container{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	flex: 1;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 6fr 3fr;
	grid-template-rows: repeat(8, 1fr);
	border: 2px green solid;
}
h1{
	padding: 0px 0px 0px 10px;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}
#globale_gossip{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	grid-column: 2 / span 1;
	grid-row: 2 / -1;
}
.gossip_bloc{
	border: 1px red solid;
	padding: 10px 10px 10px 10px;
}
.footer_link{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 1px red solid;
	grid-column: 2 / span 1;
	grid-row: -1 / -1;
}
body{
	background-color: rgb(240,240,240);
}